h1 {
  color: black;
  weight: bold;
  font-family: Helvetica;
  font-size: 30px;
  width: 100%;
}

p {
  color: pink; 
  font-family: 'Comic Neue', cursive;
  font-size: 15px;
  width: 100%;
}

img {
  text-align: center 
  border: 2px solid black;
}
